@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Book Mall template for web technologies class">
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/css")

    @Scripts.Render("~/bundles/jquery")



    <title>Book Mall</title>

</head>
<body>

    @Html.Partial("_Header")

    @*@Html.Partial("_Authentification")*@


    @RenderBody()


    @Html.Partial("_Footer")

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/validation/js")
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>

</html>
